.prog{
    background-color: #dce65a;
}
body{

    background-color: #7FAEF4;
    

}

/* .corpo{
   
} */
    
.row{
    padding-top: 20px;
   
}
.col-sm-12{
    padding-top: 20px;
}
.card{
    
    height: 100%;
    border-radius: 4%;
    padding: 8px;

}
.card-img-top{
    border-radius: 4%;
    
}
p{
    text-align: justify;
    text-justify: inter-word;
}
h1{

    font-family: "Indie Flower", cursive;
    font-weight: 400;
    font-style: normal;
}
.col-lg-6{
    margin-left: auto;
    margin-right: auto;
}